<div class="tasks">
  <h3>Today</h3>

  <div class="tasks-today row">
    <div class="col-xs-6">
      <div class="task-area">
  
        <div class="task">
            <label class="form-checkbox">
                <div class="task-info">
                    <input type="checkbox">
                    <i class="form-icon"></i><h6>Google project</h6>
                    <h6>10:00 AM</h6>
                   
                </div>
                <div class="task-info">
                    <p>Do a presentation for a big company</p>
                  <h6>Priority 1</h6>

                </div>
                <div class="tags">
                    <span class="label label-rounded label-secondary ">primary label</span>
                    <span class="label label-rounded label-secondary">primary label</span>
                    <span class="label label-rounded label-secondary">primary label</span>
                </div>
                
              </label>
        </div>

        <div class="task">
          <label class="form-checkbox">
              <div class="task-info">
                  <input type="checkbox">
                  <i class="form-icon"></i><h6>Google project</h6>
                  <h6>10:00 AM</h6>
                 
              </div>
              <div class="task-info">
                  <p>Do a presentation for a big company</p>
                <h6>Priority 1</h6>

              </div>
              <div class="tags">
                  <span class="label label-rounded label-secondary ">primary label</span>
                  <span class="label label-rounded label-secondary">primary label</span>
                  <span class="label label-rounded label-secondary">primary label</span>
              </div>
              
            </label>
      </div>

      <div class="task">
        <label class="form-checkbox">
            <div class="task-info">
                <input type="checkbox">
                <i class="form-icon"></i><h6>Google project</h6>
                <h6>10:00 AM</h6>
               
            </div>
            <div class="task-info">
                <p>Do a presentation for a big company</p>
              <h6>Priority 1</h6>

            </div>
            <div class="tags">
                <span class="label label-rounded label-secondary ">primary label</span>
                <span class="label label-rounded label-secondary">primary label</span>
                <span class="label label-rounded label-secondary">primary label</span>
            </div>
            
          </label>
    </div>

   

  
                

        
      </div>
    </div>
    <div class="col-xs-6">
      
    </div>
  </div>
</div>