<header class="navbar">

    <section class="navbar-section">
        <div class="dropdown">
            
              
              <a class="dropdown-toggle" tabindex="0">
                  <div class="add-project-button">
                      <div class="add-project">
                        <span></span>
                        <span></span>
                      </div>
                    </div>
              </a>
          
              <!-- menu component -->
              <ul class="menu">
                <li class="menu-item"><a>Add new task</a></li>
                 <li class="menu-item"><a>Add new project</a></li>
              </ul>
            
          </div>
      </section>
      

</header>


<div class="login">
  <div class="login-text">
    <h1>Built for 
        developers
      </h1>
        <p>
            GitHub is a development platform 
            inspired by the way you work. From open 
            source to business, you can host and 
            review code, 
            manage projects, and build software 
            alongside 36 million developers.
        </p>
  </div>
  <div class="login-forms">
  
      <div class="login-shadow">
        <h4>Welcome</h4>
        <h5>Sign in to start using our app</h5>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="form-label" for="login-username">Username</label>
            <input formControlName="username" class="form-input" type="text" id="login-username" name="username" placeholder="username" [ngClass]="{'is-error': (submitted && loginControls.username.errors) || loginError.auth == false}" >
              <p *ngIf="submitted && loginControls.username.errors && loginControls.username.errors.required" class="form-input-hint">Username is required</p>
      
          </div>
          <div class="form-group">
              <label class="form-label" for="login-email">Email</label>
              <input  formControlName="email" class="form-input" type="email" id="login-email" placeholder="youremail@domain.com" [ngClass]="{'is-error': (submitted && loginControls.email.errors) || loginError.auth == false}">
              <p *ngIf="loginControls.email.errors && loginControls.email.errors.email" class="form-input-hint">Incorrect form of email</p>
              <p *ngIf="submitted && loginControls.email.errors && loginControls.email.errors.required" class="form-input-hint">Email is required</p>
            </div>
            <div class="form-group">
                <label class="form-label" for="login-password">Password</label>
                <input formControlName="password" class="form-input" type="password" id="login-password" placeholder="password" [ngClass]="{'is-error': (submitted && loginControls.password.errors) || loginError.auth == false}">
                <p *ngIf="submitted && loginControls.password.errors && loginControls.password.errors.minlength" class="form-input-hint">Password is too short</p>
              <p *ngIf="submitted && loginControls.password.errors && loginControls.password.errors.required" class="form-input-hint">Password is required</p>
            </div>
        </form>
          
              <div class="login-buttons">
                  <p class="form-input-hint error-occured">{{loginError.message}}</p>
                  <p>Did you forget password?</p>
                  <a routerLink="/register">Create new account</a>
                  <button (click)="onSubmit()" style="width: 100%;" class="btn btn-primary btn-lg">Sign in</button>
                
                  <button (click)="loginGoogle()" style="width: 100%;" class="btn btn-lg">Sign in with Google<svg xmlns="http://www.w3.org/2000/svg" width="25.841" height="25.841" viewBox="0 0 29.841 29.841"><path d="M6.613,148.242,5.575,152.12l-3.8.08a14.946,14.946,0,0,1-.11-13.932h0l3.38.62,1.481,3.36a8.9,8.9,0,0,0,.084,6Z" transform="translate(0 -130.209)" fill="#fbbb00"/><path d="M275.96,208.176a14.914,14.914,0,0,1-5.319,14.423h0l-4.257-.217-.6-3.761a8.892,8.892,0,0,0,3.826-4.541h-7.978v-5.9H275.96Z" transform="translate(-246.38 -196.043)" fill="#518ef8"/><path d="M52.991,317.931h0a14.925,14.925,0,0,1-22.483-4.565l4.835-3.958a8.874,8.874,0,0,0,12.787,4.543Z" transform="translate(-28.731 -291.376)" fill="#28b446"/><path d="M51.4,3.435,46.566,7.392a8.873,8.873,0,0,0-13.081,4.646L28.625,8.059h0A14.923,14.923,0,0,1,51.4,3.435Z" transform="translate(-26.956)" fill="#f14336"/></svg></button>
              </div>
            </div>
        
            
            
             
    
           
       
  </div>
  
  
</div>

