/* You can add global styles to this file, and also import other style files */
@import "../node_modules/spectre.css/src/spectre.scss";
@import "../node_modules/spectre.css/src/icons";
@import "../node_modules/flexboxgrid-sass/flexboxgrid.scss";

h1,h2,h3,h4,h5,h6,p,span{
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: #F5F5F5;
}

.container-main{
  margin-left: 1em;
  margin-right: 1em;
  padding-left: auto;
  padding-right: auto;
}

// colors

.menu ul li {
  list-style: none;
}

$main-color-gray: #EEEEEE;
app-navbar{
 
  .navbar{
    position: relative;
    z-index: 2;
    background-color:$primary-color;
    padding: 0.5em 0;
    width: 100%;
    box-shadow: 0 0.05rem 0.1rem rgba(48, 55, 66, 0.2);
    .settings{
      margin: 0 1.2em;
    }
    .settings,.search{
      
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{

        width: auto;
        &:first-child{
          height: 1.5em;
        }
        

        height: 1.9em;
        path {
          fill: white;
        }
      }
    }
    .log-out{
      cursor: pointer;
      padding: 0.1em 0;
      color: white;
      display: flex;
      align-items: center;
      svg{
        height: 1.6em;
        path {
          fill: white;
        }
      }
    }
  }
  .add-task, .add-project{
    margin-left: 0.8em;
    padding: 1em;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    span{
      height: 4px;
      width: 20px;
      border-radius: 10px;
      background-color: $primary-color;
      position: absolute;
      &:first-child{
        transform: rotate(90deg);
      }
    }
  }
}

.main-view{
  display: flex;
  height: 100vh;
}
app-leftbar{
  .menu{
  overflow-y:auto;
  position: relative;
  z-index: 1;
    background-color: white;
  padding-top: 3em;
  margin-top: -1em;
    width: 16em;
    height: 100%;
    //box-shadow: 0 0.1rem 0.2rem rgba(48, 55, 66, 0.3);
    box-shadow: 0 0.02rem 0.1rem rgba(48, 55, 66, 0.3);
    .task-align{
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0.7em 0 0.7em 0.3em;
      transition: 0.3s;
      &:hover{
        svg *{
          fill: $primary-color-dark;
          transition: 0.3s;
        }
      }
      svg{
        margin-right: 0.4em;
      }
      .tag-color{
        height: 1.1em;
        width: 1.1em;
        border-radius: 50%;
        background-color: red;
        margin-right: 0.4em;
      }
    }
    .user-info{
      display: flex;
      align-items: center;
      justify-content: space-around;
      .account-icon{
        height: 3em;
        width: 3em;
        background-color: cadetblue;
        border-radius: 50%;
      }
    }
    .menu-icon{
      display: flex;
    }
    .accordion-main-title{
      svg{
        margin-right: 0.7em;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
 
}

.middle-view{
  width: 100%;
  app-main-header{
    width: 100%;
    h2,h4,h6{
      font-weight: 400;
      color: white;
    }
    .main-header{
      padding: 2em 2em;
      background-image: url("./assets/background2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0 0.02rem 0.1rem rgba(48, 55, 66, 0.3);
      //box-shadow: 0px 12px 8px -12px rgba(0,0,0,0.75);
      display: flex;
      width: 100%;
      justify-content: space-between;
      .date-area {
        text-align: start;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
      }
      .daily-text{
        span{
          font-weight: 500;
        }
        .random-text{
          margin-top: 0.5em;
        }
      }
    }
    .add-task-button, .add-project-button{
      display: flex;
      cursor: pointer;
  
      align-items: center;
      justify-content: center;
  }
  .add-project-button{
    margin-top: 0.5em;
  }
  }
}

app-tasks{
  .tasks{
    h3{
      margin: 0.5em 0;
      font-weight: 400;
    }
  }
}
