<div class="container-main">
    <div class="main-header">

      <div class="daily-text">
          <h2>Good morning, <span>Mark</span></h2>

        
              <h4 class="random-text">What are you planning?</h4>

      </div>
            
          
       
      
        <div class="date-area">
        
                <h6>Today is: <b>Tuesday, 10 May</b></h6>
       
    <div class="add-task-button">
                <h6>Add new task</h6>
                <div class="add-task">
                  <span></span>
                  <span></span>
                </div>
              </div>
              <div class="add-project-button">
                  <h6>Add new project</h6>
                  <div class="add-project">
                    <span></span>
                    <span></span>
                  </div>
                </div>
            
          </div>
        </div>
      </div>



