
    <div class="main-header">

      <div class="daily-text">
          <h2>Good morning, <span>Mark</span></h2>

        <div class="divider"></div>
              <h4 class="random-text">What are you planning?</h4>

      </div>
            
          
       
      
        <div class="date-area">
        
                <h6>Today is: <b>Tuesday, 10 May</b></h6>
       <div class="divider"></div>
       <button class="btn btn-sm">Add new task</button>
       <button class="btn btn-sm mt-2">Add new project</button>  
            
          </div>
        </div>
 



